In [1]:
# 자바, C
# int name = [11,12,13]

# 파이썬
name1 = ["신동욱", 11, 2.73, True]
print(name1)

['신동욱', 11, 2.73, True]

In [2]:
# 빈 리스트의 샘플 코드
empty_list = []

In [3]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 가각 90,95,85,80
student1 = [90,95,85,80]
print(student1)

[90, 95, 85, 80]

In [4]:
type(student1)

list

In [5]:
print(student1[0])

90

In [6]:
print(student1[1])

95

In [7]:
print(student1[2])

85

In [8]:
print(student1[3])

80

In [9]:
print(student1[-1])

80

In [10]:
print(student1[-3])

95

In [11]:
print(student1[1])

95

In [12]:
student1[1] = 100
print(student1[1])

100

In [13]:
student_3 = ['신준호', '이도원' ,'오창환', '편호범']

In [14]:
print(student_3[0])
print(student_3[-4])

신준호
신준호

In [28]:
myFriends= ['James', 'Robert','Lisa','Mary']

In [16]:
myFriends2[2]

'Lisa'

In [17]:
mixedList = [0, 2, 3.14, 'python', 'program', True, myFriends2]
# print(mixedList)

In [18]:
mixedList[6][0]

'James'

리스트 다루기

리스트 더하기와 곱하기

In [19]:
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]
list_con = list_con1 + list_con2

list_con

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
list_con1=[1,2,3,4]
list_con = list_con1 * 3
list_con

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [23]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [25]:
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

리스트에서 항목 삭제하기

In [26]:
del(list_data[6])
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

리스트에서 항목의 존재 여부 확인하기

In [27]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

### 리스트 메서드 활용하기

In [29]:
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

### Append 메소드 사용

In [38]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Tomas')
print(myFriends)

['James', 'Robert', ' Lisa', 'Mary', 'Tomas', 'Tomas', 'Tomas']
['James', 'Robert', ' Lisa', 'Mary', 'Tomas', 'Tomas']

### Insert 메소드 사용

In [41]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.insert(1, "Paul")
print(myFriends)

['James', 'Paul', 'Robert', 'Lisa', 'Mary']

### Extend 메소드 사용

In [43]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend([['Laura', 'Betty']])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', ['Laura', 'Betty']]