### 세트

In [2]:
set1 = {1,2,3}
set1a = {1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [3]:
eventA = ['신준호','안동혁','박건우','이준영']
eventB = ['신준호','유민','임영수','이종학']

eventAll = eventA + eventB
print(eventAll)
set_eventAll = set(eventAll)
print(set_eventAll)

['신준호', '안동혁', '박건우', '이준영', '신준호', '유민', '임영수', '이종학']
{'안동혁', '신준호', '유민', '이종학', '박건우', '이준영', '임영수'}

In [4]:
type(set1)

set

In [5]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A.intersection(B)

{4, 5}

In [7]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
A.difference(B)

{1, 2, 3}

In [9]:
B.difference(A)

{6, 7, 8, 9, 10}

In [10]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
print(A & B)

{4, 5}

In [11]:
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
print(A - B)

{1, 2, 3}

### 리스트, 튜플, 세트 간 타입 변환

In [13]:
a = [1,2,3,4,5]
type(a)

list

In [14]:
b = tuple(a)
type(b)

tuple

In [16]:
c = set(a)
type(c)

set