### 반목문의 필요성

In [3]:
a = 0
print(a)

0

In [4]:
a = a + 1
print(a)

1

In [5]:
a = a + 1
print(a)

2

In [6]:
a = a + 1
print(a)

3

### 반복 범위 지정

#### 리스트 이용

In [7]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [8]:
myFriends = ['James','Robert','Lisa','Mary']
for myFriend in myFriends:
     print(myFriend)

James
Robert
Lisa
Mary

#### range 이용

In [9]:
print(range(0,10,1))

range(0, 10)

In [10]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list (range(0,6,1))

[0, 1, 2, 3, 4, 5]

In [12]:
for a in range(0,6,2):
    print(a)

0
2
4

In [13]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print(list(range(0,20,5)))

[0, 5, 10, 15]

In [15]:
print(list(range(-10, 0, 2)))

[-10, -8, -6, -4, -2]

In [16]:
print(list(range(3, -10, -3)))

[3, 0, -3, -6, -9]

In [17]:
print(list(range(3, -10, 3)))  # range 범위는 증가할때 양수 음수 구분을 잘해야한다

[]

In [18]:
print(list(range(0, -5, -1)))

[0, -1, -2, -3, -4]

### 중첩 for 문

In [19]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

### 여러 개의 리스트 다루기

In [35]:
names = ['James', 'Robert', 'Lisa', 'Mary','Shin', 'Young']
scores = [95,96,97,94,90,94]

In [36]:
len(names)

6

In [37]:
list(range(0,len(names),1))

[0, 1, 2, 3, 4, 5]

In [44]:
for k in range(len(names)):
    print((names[k]), scores[k])

James 95
Robert 96
Lisa 97
Mary 94
Shin 90
Young 94

In [45]:
names[4]

'Shin'

In [46]:
print('신동욱', 100)

신동욱 100

In [49]:
for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94
Shin 90
Young 94