##############################

### 메소드 응용 예제

##############################

### remove 메소드

In [37]:
# 학원에 철수,영희,민영,준호,명수 5명의 학생이 있다
# 리스트에 5명을 다담고  준호를 제적 후 에 출력해라


play_data = ['철수','영희','민영','준호','명수']
print(play_data)
print(play_data.remove('준호'))
print(play_data)

['철수', '영희', '민영', '준호', '명수']
None
['철수', '영희', '민영', '명수']

### pop 메소드

In [36]:
# 1~6의 숫자를 리스트에 담고
# pop 메소드를 이용하여 짝수 부터 제거 후 1 만 남기고 모두 삭제해라

num = [1,2,3,4,5,6]
print(num)
print(num.pop(1))
print(num)
print(num.pop(2))
print(num)
print(num.pop(3))
print(num)
print(num.pop(1))
print(num)
print(num.pop(1))
print(num)

[1, 2, 3, 4, 5, 6]
2
[1, 3, 4, 5, 6]
4
[1, 3, 5, 6]
6
[1, 3, 5]
3
[1, 5]
5
[1]

### index 메소드

In [35]:
# 1~ 7 리스트에서 각 숫자의 특정 숫자의 위치값을 출력해라

pp = [1,2,3,4,5,6,7]
print(pp)
print(pp.index(6))

[1, 2, 3, 4, 5, 6, 7]
5

### count 메소드

In [40]:
# 리스트의 숫자 7 갯수를 출력해라

test_list = [211,457,7,414,541,624,7,8,9,17,71,7,116,4667]
print(test_list.count(7))

3

### sort 메소드 , reverse 메소드

In [56]:
# 숫자를 순방향 과 역방향으로 정렬해라s

num_list = [5,6,4,7,8,9,3,2,1]
num_list.sort()
print(num_list)

num_list.reverse()
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]