#### 함수의 기본 구조

#### 인자도 반환 값도 없는 함수

In [ ]:
# def my_func():
#     print("My first luncation!")
#     piint("첫 번째 함수")

#### 인자도 반환 값도 없는 함수

In [27]:
def my_func():
    print("My first functio!")
    print("This is a function")

In [28]:
my_func()

My first functio!
This is a function

#### 인자는 있으나 반환 값이 없는 함수

In [30]:
def my_friend(friendName):           #함수 선언
    print("{}는 나의 친구입니다.".format(friendName))
    
my_friend("철수")                    #함수 호출
my_friend("영미")                    #함수 호출

In [33]:
def my_friend(friendName):           #함수 선언
    print(f"{friendName}는 나의 친구입니다.")

my_friend("철수")                    #함수 호출
my_friend("영미")                    #함수 호출

철수는 나의 친구입니다.

In [34]:
def my_student_info(name, school_ID, phoneNumber):        #함수 선언
    print("----------------------")
    print("- 학생이름 : ", name)
    print("- 학급번호 : ", school_ID)
    print("- 전화번호 : ", phoneNumber)

my_student_info("현아", "01", "01-235-6789")             #함수 호출
my_student_info("진수", "02", "01-987-6543")             #함수 호출

----------------------
- 학생이름 :  현아
- 학급번호 :  01
- 전화번호 :  01-235-6789
----------------------
- 학생이름 :  진수
- 학급번호 :  02
- 전화번호 :  01-987-6543

In [35]:
def my_student_info(name, school_ID, phoneNumber):        #함수 선언
    print("***********************")
    print("- 학생이름 : ", name)
    print("- 학급번호 : ", school_ID)
    print("- 전화번호 : ", phoneNumber)

my_student_info("현아", "01", "01-235-6789")             #함수 호출
my_student_info("진수", "02", "01-987-6543")             #함수 호출

***********************
- 학생이름 :  현아
- 학급번호 :  01
- 전화번호 :  01-235-6789
***********************
- 학생이름 :  진수
- 학급번호 :  02
- 전화번호 :  01-987-6543

#### 인자도 있고 반환 값도 있는 함수

In [38]:
def my_calc(x,y):                # 함수 선언
    z = x*y
    return z

my_calc(3, 4)                    # 함수 호출

12

In [41]:
def my_student_info_list(student_info):        #함수 선언
    print("***********************")
    print("- 학생이름 : ", student_info[0])
    print("- 학급번호 : ", student_info[1])
    print("- 전화번호 : ", student_info[2])
    print("***********************")

my_student_info_list(["현아","01","01-235-6789"])             #함수 호출
my_student_info_list(["진수","02","01-987-6543"])

***********************
- 학생이름 :  현아
- 학급번호 :  01
- 전화번호 :  01-235-6789
***********************

In [42]:
my_student_info_list(["진수","02","01-987-6543"])             #함수 호출

***********************
- 학생이름 :  진수
- 학급번호 :  02
- 전화번호 :  01-987-6543
***********************