### 형 변환 함수

#### 정수형으로 변환

In [3]:
int(0.123), int(3.5123456), int(-1.312367)

(0, 3, -1)

In [4]:
[int('1234'),int('5678'),int('-9012')]

[1234, 5678, -9012]

In [5]:
[float(0),float(123),float(-567)]

[0.0, 123.0, -567.0]

In [6]:
[float('10'),float('0.123'),float('-567.89')]

[10.0, 0.123, -567.89]

#### 문자형으로 변환

In [7]:
[str(123),str(459678),str(-987)]

['10', '0.123', '-567.89']

In [8]:
[str(0.123),str(459.678),str(-5.987)]

['0.123', '459.678', '-5.987']

#### 리스트, 튜플,세트형으로 변환

In [10]:
list_data = ['abc',1.2,'def']
tuple_data =('abc',1.2,'def')
set_data = {'abc',1.2,'def'}

[type(list_data),type(tuple_data),type(set_data)]

[list, tuple, set]

In [11]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1.2, 'def'] [1.2, 'abc', 'def']

In [12]:
print("세트로 변환 : ", set(tuple_data), set(list_data))

세트로 변환 :  {1.2, 'abc', 'def'} {1.2, 'abc', 'def'}

### bool 함수

#### 숫자를 인자로 bool 함수 호출

In [13]:
bool(0)

False

In [14]:
bool(1)

True

In [15]:
bool(-10)

True

In [16]:
bool(5.12)

True

In [17]:
bool(-3.26)

True

#### 문자열을 인자로 bool 함수 호출

In [18]:
bool('a')

True

In [19]:
bool(' ')

True

In [22]:
bool('')

False

In [23]:
bool(None)

False

#### 리스트, 튜플, 세트를 인자로 bool함수 호출

In [25]:
myFriends = []
bool(myFriends)

False

In [26]:
myFriends = ['test']
bool(myFriends)

True

In [27]:
myNum = (1,2,3)
bool(myNum)

True

In [28]:
mySetA = {}
bool(mySetA)

False

In [29]:
mySetA = {10,20,30}
bool(mySetA)

True

#### bool 함수의 사용

In [32]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")
print_name(1)

입력된 이름: 1

 #### 최솟값과 최댓값을 구하는 함수

In [35]:
myNumber = [10,5,12,0,3.5,99.5,42]
[min(myNumber), max(myNumber)]

[0, 99.5]

In [36]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [37]:
myNumber = (10,5,12,0,3.5,99.5,42)
[min(myNumber), max(myNumber)]

[0, 99.5]

In [38]:
myNumber = {'Abc','abc','bcd','efg'}
[min(myNumber), max(myNumber)]

['Abc', 'efg']

#### 절대값과 전체 합을 구하는 함수

In [39]:
[abs(10), abs(-10)]

[10, 10]

In [41]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [42]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

In [43]:
len("ab cd")

5

In [44]:
len([1,2,3,4,5,6,7,8])

8

In [45]:
len((1,2,3,4,5))

5

In [46]:
len({'a','b','c','d'})

4

In [47]:
len({1:"Thomas", 2:"Edward",3:"Henry"})

3

In [63]:
scores = [90,85,95,85]
score_sum = 0
subject_num = 0
for score in scores:
    score_sum = score_sum + score
    subject_num = subject_num + 1
    
average = score_sum / subject_num

print("총점:{0}, 평균:{1}".format(score_sum,average))

숫자만 입력하세요
총점:0, 평균:88.75

In [65]:

scores = [90,85,95,85]
print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:355, 평균:88.75

In [56]:
print("최하 점수:{0}, 최고점수{1}".format(min(scores),max(scores)))

초하 점수:85, 최고점수95

In [57]:
print(f"최하 점수:{min(scores)}, 최고점수{max(scores)}")

최하 점수:85, 최고점수95