#### 난수 발생 모듈

In [1]:
import random
random.random()

0.15070220769819598

In [4]:
import random

dice1 = random.randint(1,6)
dice2 = random.randint(1,6)
print('주사위 두 개의 숫자 : {0}, {1}'.format(dice1, dice2))

주사위 두 개의 숫자 : 78, 32

In [7]:
import random

dice1 = random.randint(1,6)
dice2 = random.randint(1,6)
print('주사위 두 개의 숫자 : {0}, {1}'.format(dice1, dice2))

print(dice1 + dice2)

주사위 두 개의 숫자 : 4, 4
8

In [10]:
import random

random.randrange(0,11,2)

9

In [12]:
import random

num1 = random.randrange(1, 10, 2)    # 1 ~ 9 (10-1) 중 임의의 홀수 선택
num2 = random.randrange(0, 100, 10)  # 0 ~ 99 (100-1) 중 임의의 10의 단위 숫자 선택
print(f'num1 : {num1}, num2 : {num2}')

num1 : 7, num2 : 60

In [24]:
import random


menu = ['비빔밥', '된장찌개', '볶음밤', '불고기', '스파게티', '피자', '탕수육']
random.choice(menu)

'탕수육'

In [31]:
import random

random.sample(range(0,46),5)

[43, 9, 33, 3, 18]

#### 날짜 및 시간 관련 처리 모듈

In [37]:
    import datetime

    set_day = datetime.date(2019,3,1)
    print(set_day)

2019-03-01

In [39]:
print(set_day.year, set_day.month, set_day.day)

2019 3 1

In [45]:
test_day1 = datetime.date.today()

test_day2 = datetime.date(2020,10,31)

diff_day = test_day2 - test_day1
print(diff_day)

type(diff_day)

2020-10-26
5 days, 0:00:00

datetime.timedelta

In [49]:
set_time = datetime.time(15, 30 ,45)
print(set_time)
print('{0}:{1}:{2}'.format(set_time.hour,set_time.minute,set_time.second))

15:30:45
15:30:45

In [53]:
import datetime

now = datetime.datetime.now()
print("Date & Time : {:%Y-%m-%d, %H:%M:%S}".format(now))

print("Date : {:%Y-%m-%d}".format(now))
print("Time : {:%H:%M:%S}".format(now))

Date & Time : 2020-10-26, 12:23:07
Date : 2020-10-26
Time : 12:23:07

In [57]:
now = datetime.datetime.now()
set_dt = datetime.datetime(2017, 12, 1, 12 ,30 ,45)
print("현재 날짜 및 시각 : ", set_dt)
print("차이 : ", now - set_dt)

현재 날짜 및 시각 :  2017-12-01 12:30:45
차이 :  1059 days, 23:55:10.134401

In [58]:
from datetime import date, time, datetime

print(date(2019, 7 ,1))

2019-07-01

In [59]:
print(date.today())

2020-10-26

In [60]:
print(time(15, 20 ,45))

15:20:45

In [61]:
print(datetime(2020, 2, 14, 18, 10, 50))

2020-02-14 18:10:50

In [62]:
print(datetime.now())

2020-10-26 12:28:25.461807

#### 달력 생성 및 처리 모듈

In [64]:
import calendar

print(calendar.calendar(2018))

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [66]:
print(calendar.calendar(2019, m=4))

                                               2019

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31      29 30

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7                1  2  3  4
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3                         1
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
30                                                                            30 31

In [69]:
print(calendar.month(2020,9))

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [70]:
calendar.monthrange(2020,2)

(5, 29)

In [73]:
calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2020,9))

   September 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [74]:
calendar.firstweekday()

6

In [76]:
print(calendar.weekday(2020,10,26))

0

In [78]:
print(calendar.weekday(2018,10,14))

6

In [85]:
print(calendar.isleap(2018))

False

In [86]:
print(calendar.isleap(2019))

False

In [87]:
print(calendar.isleap(2020))

True